# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# Project specific
data/*
!data/.gitkeep
models/*
!models/.gitkeep
results/*
!results/.gitkeep
scripts/*
!scripts/.gitkeep
src/*
!src/.gitkeep

# System
.DS_Store
